MDChem/Assets/GoogleService-Info.plist
MDChem/Assets/google-services.json
MDChem/Temp/*
MDChem/Assets/StreamingAssets/google-services-desktop.json
MDChem/Assets/StreamingAssets/google-services-desktop.json

MDChem/Library/*